/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  text-align: center;
  color: #333;
}

.punch-form {
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-container {
  margin: 10px 0;
}

.input-container label {
  display: block;
  text-align: left;
}

.input-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button-container {
  margin: 20px 0;
}

.button-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button-container .in {
  background-color: #4CAF50;
  color: #fff;
  margin-right: 10px;
}

.button-container .out {
  background-color: #FF5722;
  color: #fff;
}




/* Styles for the "Punch Out" form */
form {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  margin: 5px 0;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.activity-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

.activity-table th, .activity-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.activity-table th {
  background-color: #f2f2f2;
}

.activity-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.activity-table tr:nth-child(odd) {
  background-color: #fff;
}